[build]
  publish = "."
  command = "node build.js"
  functions = "functions"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer-when-downgrade"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
